.swiper {
  height: 100%;
  margin: 70px;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  color: #1e88e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}